<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>杭州电子科技大学教学审核评估网</title>
	
<link rel="stylesheet" type="text/css" href="HDU.css"/>
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>

</head>
<body>

	<div class="header">
		<div class="container logo">
			<img src="head.png"/>
			<img class="motto hidden-sm hidden-xs" src="motto.png"/>
		</div>
		<div class="divider">
			<div class="container">
				<a href="login.html" class="login pull-right">管理登录</a>
			</div>
		</div>
	</div>
	<div class="container">
		<ul class="nav nav-pills hidden-xs">
			<li><a href="HDU.html">首页</a></li>
			<li><a href="Org.html">组织机构</a></li>
			<li><a href="File.html">政策文件</a></li>
			<li><a href="Notice.html">通知公告</a></li>
			<li><a href="Assess.htmlAssess.html">评估动态</a></li>
			<li><a href="Download.html">资料下载</a></li>
			<li><a href="Contact.html">联系我们</a></li>
		</ul>
		<ul class="nav nav-pills nav-stacked visible-xs-block">
			<li><a href="HDU.html">首页</a></li>
			<li><a href="Org.html">组织机构</a></li>
			<li><a href="File.html">政策文件</a></li>
			<li><a href="Notice.html">通知公告</a></li>
			<li><a href="Assess.html">评估动态</a></li>
			<li><a href="Download.html">资料下载</a></li>
			<li><a href="Contact.html">联系我们</a></li>
		</ul>
		<div class="banner">

			<div id="banner" class="carousel slide" data-ride="carousel">
  				<ol class="carousel-indicators">
    				<li data-target="#banner" data-slide-to="0"></li>
    				<li data-target="#banner" data-slide-to="1" class="active"></li>
    				<li data-target="#banner" data-slide-to="2"></li>
  				</ol>

  				<div class="carousel-inner" role="listbox">
    				<div class="item">
      					<img src="banner1.jpg" alt="...">
    				</div>
    				<div class="item active">
      					<img src="banner2.jpg" alt="...">
    				</div>
    				<div class="item">
      					<img src="banner3.jpg" alt="...">
    				</div>
  				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-7 block">
				<div class="block-title">通知公告<a href="Notice.html" class="block-more">更多>></a></div>
				<ul class="block-list list-unstyled">
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
				</ul>
			</div>
			<div class="col-sm-5 block">
				<div class="block-title">政策文件<a href="File.html" class="block-more">更多>></a></div>
				<ul class="block-list list-unstyled">
					<li class="row">
						<div class="col-sm-9 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-9 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-9 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-9 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-9 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 block">
				<div class="block-title">评估动态<a href="Assess.html" class="block-more">更多>></a></div>
				<ul class="block-list list-unstyled">
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
					<li class="row">
						<div class="col-sm-10 item-title">
							<a href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-2">2016-10-28</span>
					</li>
				</ul>
			</div>
			<div class="col-sm-5 block">
				<div class="block-title">资料下载<a href="Download.html" class="block-more">更多>></a></div>
				<ul class="block-list list-unstyled">
					<li class="row">
						<div class="col-sm-9 item-title">
							<a  href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
						
					</li>
					<li class="row">
						<div class="col-sm-9 item-title">
							<a  href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
					
					</li>

                     <li class="row">
						<div class="col-sm-9 item-title">
							<a  href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
						
					</li>

					<li class="row">
						<div class="col-sm-9 item-title">
							<a  href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
						
					</li>
					
					<li class="row">
						<div class="col-sm-9 item-title">
							<a  href="">北京大学迎接本科教学审核评估会在中关新园召开</a>
						</div>
						<span class="item-date col-sm-3">2016-10-28</span>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div>杭州电子科技大学 版权所有</div>
		<div>Copyright© 2010 杭州电子科技大学版权所有 All right reserved </div>
	</div>
</body>
</html>